body {
  background-color: #0f0f0f;
}

div {
  color: #fff;
  font-family: sans-serif;
}

hr {
  background: #fff;
  border: none;
  height: 0.5px;
  opacity: 0.3;
  margin-top: 19px;
  margin-bottom: 20px;
}

nav {
  position: sticky;
  top: 0;
  padding: 1px 0px;
  background: #0f0f0f;
  z-index: 9999;
}

.sidebar-section {
  box-sizing: border-box;
  overflow: scroll;
  background: #0f0f0f;
  height: 47rem;
  margin-top: 3.5rem;
}

.main-window {
  display: flex;
}
.nav-icon {
  width: 2rem;
  filter: invert(1);
}

.sidebar-icon {
  width: 22px;
  margin-left: 10px;
}

.sidebar-text {
  font-size: 13.9px;
  margin: 3px 26px;
  font-weight: 300;
}

.sidebar-navigate {
  margin: 10px 10px 1px 5px;
  width: 210px !important;
}

#sidebar-navpills {
  display: flex;
  margin: 0px 10px;
  height: 30px;
  padding-top: 9px;
  padding-bottom: 1px;
  margin-left: -1.2px;
  margin-right: 7px;
  border-radius: 10px;
}

.main-section {
  box-sizing: border-box;
  width: -webkit-fill-available;
  margin-left: 16rem;
  margin-right: 1.1rem;
}

.video-section {
  max-width: 369px;
  max-height: 318px;
}

#thumbnail {
  width: 23rem;
  border-radius: 12px;
}

#yt-profile-img {
  width: 39px;
  border-radius: 50%;
  margin-top: 9px;
}

#video-title {
  margin: 8px 13px;
  line-height: 23px;
}

#video-details {
  font-size: 13px;
  margin-top: 2px;
  color: #aaaaaa;
  margin-bottom: -5px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 38px;
  margin-top: 8.1rem;
}

@media (max-width: 1415px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

#search-box-text {
  margin-left: 8rem;
  padding-left: 1rem;
  padding-right: 27rem;
  max-width: 5rem;
  height: 37px;
  background: #121212;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px 0px 0px 20px;
  border-color: #332e2e;
  color: #fff;
}

#search-box-btn {
  height: 41px;
  width: 66px;
  border-radius: 0px 20px 20px 0px;
  background: #ffffff14;
  border-style: solid;
  border-width: 1px;
  border-color: #332e2e;
  margin-left: -1px;
}

#search-icon {
  width: 27px;
  margin-left: -47px;
  margin-bottom: 8px;
}

.upper-section {
  margin-top: -38px;
  padding-top: 38px;
  background: #0f0f0f;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 99999;
}

#sidebar-navpills:hover {
  background-color: #ffffff1a;
}

#thumbnail:hover {
  filter: opacity(0.5);
}

#duration {
  margin-top: -1.7rem;
  margin-left: 20.5rem;
  background: #000000cc;
  position: absolute;
  font-size: 12.4px;
  padding: 2px;
  border-radius: 4px;
}

#tagpill-highlighted {
  padding: 8px 12px;
  font-size: 13.9px;
  color: #000;
  background: #fff;
  border-radius: 7px;
  margin: 15px 6px;
  max-height: 17px !important;
}

#tagpill {
  padding: 8px 12px;
  font-size: 13.9px;
  color: #fff;
  background: #ffffff1a;
  border-radius: 7px;
  margin: 15px 6px;
  max-height: 17px !important;
}

#tagpill:hover {
  color: #000;
  background: #fff;
}

.tags {
  margin-left: -6px;
}

#tag-arrow {
  padding: 12px 22px;
    padding-right: 68px;
    position: fixed;
    background: #0f0f0f;
    margin-left: 66.5rem;
    box-shadow: -20px -1px 20px 20px rgba(15,15,15,0.75);
}
